<div class="mat-elevation-z8">
  <button mat-button (click)="openDialog('Create',{})" mat-flat-button color="primary">Add Brand</button>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="onSortChanged($event)">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button (click)="openDialog('Update', element)">Edit</button> |
        <button (click)="openDialog('Delete', element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 [length]="page.totalElements"
                 [pageSize]="page.size"
                 [pageIndex]="page.pageNumber"
                 showFirstLastButtons
                 (page)="changePageParams($event)"></mat-paginator>
</div>
