<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<form #f="ngForm">
  <div mat-dialog-content>
    <mat-form-field *ngIf="action === 'Update' || action === 'Create'">
      <input
        placeholder="Brand Name"
        matInput
        [(ngModel)]="dialogData.name"
        name="name"
        required>
    </mat-form-field>
    <div *ngIf="action === 'Delete'">
      Please confirm you want to delete <b>{{dialogData.name}}</b> brand
    </div>
    <div *ngIf="action === 'Error'">
      {{dialogData.message}}
    </div>
  </div>
  <div mat-dialog-actions *ngIf="action !== 'Error'">
    <button
      mat-button
      (click)="doAction()"
      [disabled]="!dialogData.name">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
  </div>
  <div mat-dialog-actions *ngIf="action === 'Error'">
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Ok</button>
  </div>
</form>
